<%= form_with(model: competition) do |form| %>
  <% if competition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(competition.errors.count, "error") %> prohibited this competition from being saved:</h2>

      <ul>
        <% competition.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, 'Competition name:' %>
    <%= form.text_field :name %>
  </div>

  <%= form.fields_for :prizes do |f| %>
    <div class="prize-container">
      <div class="field">
        <%= f.label :name, 'Prize name:' %>
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :value %>
        <%= f.text_field :value %>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
