<!DOCTYPE html>
<html>
  <head>
    <title>Devminipost</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <h2>Welcome <%= current_user.full_name %>!</h2>
      <%= link_to('Sign out', destroy_user_session_path, { method: :delete }) %> |
      <%= link_to('Competitions', competitions_path) %>
      <%= button_to(subscription_message, subscriptions_path, params: { user: { is_free: !current_user.is_free } }, method: :put) %>
    <% else %>
      <%= link_to('Sign in', new_user_session_path) %>
    <% end %>
    <%= yield %>
  </body>
</html>
